<section class="column">
  <h1><%= name %></h1>
  <ol class="tasks">
    <% tasks.forEach(task => {%>
      <li>
        <%- include('./task', { ...task, columnName: name }) %>
      </li>
    <% }) %>
  </ol>
</section>
